{% extends 'logistics/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!Doctype html>
{% block title %}
Skaal
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard user</li>
      </ol>
	  
    
   
    <div class="box_general padding_bottom">
        {% if messages %}
        {% for m in messages %}
          <div class="alert {{ m.tags }}">{{ m }}</div>
        {% endfor %}
        {% endif %}
            <form id="form-container" method="post">
              
              {% csrf_token %}
              {{ diesel_formset.management_form }}
              {% for form in diesel_formset %}
              <div class="purchase-form">
                <hr>
                  {{ form | crispy }}
              </div>
              {% endfor %}
              <button id="add-form" type="button" class="btn btn-success btn-sm">Add new form</button><br>
              <button class="btn btn-primary mt-2" value="submit">Submit</button>
            </form>
    </div>
    
    <script>
        let purchaseForm = document.querySelectorAll(".purchase-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
  
        let formNum = purchaseForm.length-1
        addButton.addEventListener('click', addForm)
  
        function addForm(e){
          e.preventDefault()
  
  
          let newForm = purchaseForm[0].cloneNode(true)
          let formRegex = RegExp(`form-(\\d){1}-`, 'g')
  
          formNum++
          newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
          container.insertBefore(newForm, addButton)
              
          totalForms.setAttribute('value', `${formNum+1}`)
  
        }
      </script>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}