asgiref==3.4.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
cloudinary==1.29.0
Django==3.0.3
django-cloudinary-storage==0.3.0
django-crispy-forms==1.14.0
idna==3.3
Pillow==8.4.0
python-decouple==3.6
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.1
typing_extensions==4.1.1
urllib3==1.26.9
wincertstore==0.2
