{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!Doctype html>
{% block title %}
Purchse Entry
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:purchase_list' %}"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Records</a>
        </li>
        <li class="breadcrumb-item active">Purchases</li>
      </ol>
	  <!-- Icon Cards-->
    <div class="box_general padding_bottom">

          <h3>There are {{ queryset.count }} result(s)</h3>
			      <table>
                <caption>Purchase Records</caption>
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Purchase For</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price per quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if  queryset %}
                  {% for a in queryset %}
                  <tr>
                    <td data-label="Date:">{{ a.date|date:"M d, Y" }}</td>
                    <td data-label="Purchase For:">{{ a.section }}</td>
                    <td data-label="Item:">{{ a.item }}</td>
                    <td data-label="Quantity:">{{ a.quantity }}</td>
                    <td data-label="Price per quantity:">{{ a.i_price }}</td>
                    <td data-label="Total Price:">{{ a.price }}</td>
                    <!-- <td data-label="Action:"> <a href="{% url 'accounts:delete_purchase' a.id %}" class="btn btn-danger" >Delete</a> </td> -->
                    <td data-label="Action:"> <a  class="btn btn-danger text-white" data-toggle="modal" data-target="#exampleModaldel">Delete</a> </td>
                    <div class="modal fade" id="exampleModaldel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to Delete?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <a href="{% url 'accounts:delete_purchase' a.id %}" class="btn btn-danger">Yes</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  {% endif %} 
                  </tr>
                </tbody>
            </table>
            
            
            
           
            
		</div>
		<!-- <div class="box_general padding_bottom">
            <a href="{% url 'accounts:purchase_add'%}">Add Bird</a>
            {% for list in object_list %}
             <p> {{ list.item }} </p>
             <p> {{ list.quantity }} </p>
             <p> {{ list.price }} </p>
             <p> {{ list.section }} </p>
            {% endfor %}
		</div> -->
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
{% endblock %}