{% extends 'main/base.html' %} {% load crispy_forms_tags %} {% load static %}
{% block title %} Dispatch Drugs {% endblock %} 


{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'main:main_index' %}">Dashboard</a></li>
      <li class="breadcrumb-item active">Dispatch Drug</li>
    </ol>
    <div class="box_general padding_bottom">
      <div class="container mt-4">
        <h2 class="text-primary">Dispatch Item/Drug</h2>
      </div>

    </div>

    <div class="box_general padding_bottom">
      {% if messages %}
        <div id="message-container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} fade show" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
          {{ form|crispy }}

        <div class="form-actions">
          <button type="submit" name="action" value="continue" class="btn btn-primary">Save and Continue</button>
          <button type="submit" name="action" value="proceed" class="btn btn-success">Save and Proceed</button>
          <a href="{% url 'main:drugs_inventory' %}" class="btn btn-secondary">Back</a>
        </div>
      </form>


    </div>
    
  </div>


</div>
<script>
$(document).ready(function() {
  //  alert("Page loaded successfully!");
    $('.select2-drug').select2({
        placeholder: "Search drug...",
        allowClear: true
    });

    setTimeout(() => {
  $(".alert").fadeOut("slow", function() { $(this).remove(); });
}, 3000);
});



</script>
{% endblock %}
