{% extends 'main/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Sheep Procurement
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Sheep Procurement Result</li>
      </ol>
      
		<div class="box_general padding_bottom">
            <h4 class="mb-4">Search Result : {{ count }} records</h4>
      {% if queryseta %}
      {% for a in queryseta %}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ewe(s):</h5>
              <p class="card-text">{{ a.ewe_num }}</p>
              <h5 class="card-title">Size(s):</h5>
              <p class="card-text">{{ a.size }}</p>
              <h5 class="card-title">Ram(s):</h5>
              <p class="card-text">{{ a.ram_num }}</p>
              <h5 class="card-title">Size(s):</h5>
              <p class="card-text">{{ a.size1 }}</p>
              <p class="card-text card-footer"><small class="text-muted">{{ a.date|date:"M d, Y" }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
		</div>
    
	  </div>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}