{% extends 'main/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Cow Culling
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a  class="btn btn-light" href="{% url 'main:cow_all' %}"><i class="fa fa-angle-left"></i> Back to all Records Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Cow Culling Results</li>
      </ol>
      
		<div class="box_general padding_bottom">
      {% if queryseta %}
      {% for a in queryseta %}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reason for Cull:</h5>
              <p class="card-text">{{ a.reason }}</p>
              <h5 class="card-title">Cow(s):</h5>
              <p class="card-text">{{ a.cow_num }}</p>
              <h5 class="card-title">Bull(s):</h5>
              <p class="card-text">{{ a.bull_num }}</p>
              <h5 class="card-title">Location(s):</h5>
              <p class="card-text">{{ a.location }}</p>
              <p class="card-text card-footer"><small class="text-muted">{{ a.date|date:"M d, Y" }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}