{% extends 'main/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Goat Culling
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Goat Culling</li>
      </ol>
      <div class="box_general padding_bottom pb-0 bg-light">
        <h5>Show only from:</h5>
          <form class="mb-5 " action="{% url 'main:goatculla_filter' %}">
            <div class="row">
              <div class="col-lg-4 col-md-12 form-group">
                {{ gca.start_date }}
              </div>
              <div class="col-lg-4 col-md-12 form-group">
                {{ gca.end_date }}
              </div>
              <div class="col-lg-4 col-md-12 form-group">
                <input type="submit" class="btn btn-warning" value="Show">
              </div>
            </div> 
          </form>
      </div>
		<div class="box_general padding_bottom">
      {% if agc_page_obj %}
      {% for a in agc_page_obj %}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Reason for Cull:</h5>
              <p class="card-text">{{ a.reason }}</p>
              <h5 class="card-title">Doe(s):</h5>
              <p class="card-text">{{ a.doe_num }}</p>
              <h5 class="card-title">Buck(s):</h5>
              <p class="card-text">{{ a.buck_num }}</p>
              <h5 class="card-title">Location(s):</h5>
              <p class="card-text">{{ a.location }}</p>
              <p class="card-text card-footer"><small class="text-muted">{{ a.date|date:"M d, Y" }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      <div>
              
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            
            {% if agc_page_obj.has_previous %}
              
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ agc_page_obj.previous_page_number }}"> Previous</a></li>
            
            {% endif %}
            
            
             
            {% for i in agc_page_obj.paginator.page_range %}
            {% if agc_page_obj.number == i %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              {% elif i > agc_page_obj.number|add:'-5' and i < agc_page_obj.number|add:'5' %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
            
            {% if agc_page_obj.has_next %}
              
            <li class="page-item"><a class="page-link" href="?page={{ agc_page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ agc_page_obj.paginator.num_pages }}">&laquo; Last</a></li>
              
            {% endif %}
            
          </ul>
        </nav>
        <!-- /pagination -->
      </div>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}