{% extends 'main/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Goat Mortality
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Goat Mortality</li>
      </ol>
		<div class="box_general padding_bottom">
      {% if agm_page-obj %}
      {% for a in agm_page-obj %}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <!-- carousel -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% if forloop.counter == 0 %}
                <div class="carousel-item active" data-slide-to="0">
                  <img class="d-block w-100" src="{{ a.post_img }}" alt="First slide">
                </div>
                {% else %}
                <div class="carousel-item" data-slide-to="{{ forloop.counter0 }}">
                  <img class="d-block w-100" src="{{ a.post_img1 }}" alt="Second slide">
                </div>
                {% endif %}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Cause of motality:</h5>
              <p class="card-text">{{ a.comment }}</p>
              <h5 class="card-title">Doe(s):</h5>
              <p class="card-text">{{ a.doe_num }}</p>
              <h5 class="card-title">Buck(s):</h5>
              <p class="card-text">{{ a.buck_num }}</p>
              <h5 class="card-title">Kid(s):</h5>
              <p class="card-text">{{ a.kid }}</p>
              <p class="card-text"><small class="text-muted">{{ a.date|date:"M d, Y" }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      <div>
              
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            
            {% if agm_page-obj.has_previous %}
              
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ agm_page-obj.previous_page_number }}"> Previous</a></li>
            
            {% endif %}
            
            
             
           {% for i in nums %}
            
            <li class="page-item"><a href="?page={{ forloop.counter }}" class="page-link active">{{ forloop.counter }}</a></li>                    

           {% endfor %}
            
            {% if cm_page_obj.has_next %}
              
            <li class="page-item"><a class="page-link" href="?page={{ agm_page-obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ agm_page-obj.paginator.num_pages }}">&laquo; Last</a></li>
              
            {% endif %}
            
          </ul>
        </nav>
        <!-- /pagination -->
      </div>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}