{% extends 'main/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Goat Procurement
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Goat Procurement</li>
      </ol>
      <div class="box_general padding_bottom pb-0 bg-light">
        <h5>Show only from:</h5>
          <form class="mb-5 " action="{% url 'main:goatproca_filter' %}">
            <div class="row">
              <div class="col-lg-4 col-md-12 form-group">
                {{ gpa.start_date }}
              </div>
              <div class="col-lg-4 col-md-12 form-group">
                {{ gpa.end_date }}
              </div>
              <div class="col-lg-4 col-md-12 form-group">
                <input type="submit" class="btn btn-warning" value="Show">
              </div>
            </div> 
          </form>
      </div>
		<div class="box_general padding_bottom">
      {% if gpa %}
      {% for a in gpa %}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Doe(s):</h5>
              <p class="card-text">{{ a.doe_num }}</p>
              <h5 class="card-title">Size(s):</h5>
              <p class="card-text">{{ a.size }}</p>
              <h5 class="card-title">Buck(s):</h5>
              <p class="card-text">{{ a.buck_num }}</p>
              <h5 class="card-title">Size(s):</h5>
              <p class="card-text">{{ a.size1 }}</p>
              <p class="card-text card-footer"><small class="text-muted">{{ a.date|date:"M d, Y" }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}