{% extends 'main/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Goat Sale
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Goat Sale</li>
      </ol>
      <div class="box_general padding_bottom pb-0 bg-light">
        <h5>Show only from:</h5>
          <form class="mb-5 " action="{% url 'main:goatsalea_filter' %}">
            <div class="row">
              <div class="col-lg-4 col-md-12 form-group">
                {{ gsa.start_date }}
              </div>
              <div class="col-lg-4 col-md-12 form-group">
                {{ gsa.end_date }}
              </div>
              <div class="col-lg-4 col-md-12 form-group">
                <input type="submit" class="btn btn-warning" value="Show">
              </div>
            </div> 
          </form>
      </div>
		<div class="box_general padding_bottom">
      {% if ags_page_obj %}
      {% for a in ags_page_obj %}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Doe(s):</h5>
              <p class="card-text">{{ a.doe_num }}</p>
              <h5 class="card-title">Size(s):</h5>
              <p class="card-text">{{ a.size }}</p>
              <h5 class="card-title">Price(s):</h5>
              <p class="card-text">{{ a.price }}</p>
              <h5 class="card-title">Buck(s):</h5>
              <p class="card-text">{{ a.buck_num }}</p>
              <h5 class="card-title">Size(s):</h5>
              <p class="card-text">{{ a.size1 }}</p>
              <h5 class="card-title">Price(s):</h5>
              <p class="card-text">{{ a.price1 }}</p>
              <h5 class="card-title">Total Price(s):</h5>
              <p class="card-text">{{ a.total_price }}</p>
              <p class="card-text card-footer"><small class="text-muted">{{ a.date|date:"M d, Y" }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
		</div>
    <div>
              
      <nav aria-label="">
        <ul class="pagination">
          
          {% if ags_page_obj.has_previous %}
            
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ ags_page_obj.previous_page_number }}" > Previous</a></li>
          
          {% endif %}
          
          
           
          {% for i in ags_page_obj.paginator.page_range %}
          {% if ags_page_obj.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > ags_page_obj.number|add:'-5' and i < ags_page_obj.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
          
          {% if ags_page_obj.has_next %}
            
          <li class="page-item"><a class="page-link" href="?page={{ ags_page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ ags_page_obj.paginator.num_pages }}">&laquo; Last</a></li>
            
          {% endif %}
          
        </ul>
      </nav>
      <!-- /pagination -->
    </div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}