{% extends 'main/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Home
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard admin</li>
      </ol>
	  <!-- Icon Cards-->
		<!-- /cards -->
		<div class="box_general padding_bottom">
      <h1 class="badge badge-primary">{% now "jS \o\f F" %}</h1>
      <h3 class="text-center mb-2"> Latest Mortality Records(Animal Death) </h3>
      <div class="row" >
        {% if cml %}
        {% for a in cml %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest1">
            <div class="card-body">
              <img src="{{ a.post_img }}" class="card-img-top" alt="No image available">
              <div class="mr-5"><h5>{{ a.section }}</h5></div>
              <h6>Bull <span class="float-right">{{ a.bull_num }}</span></h6>
              <h6>Cow  <span class="float-right"> {{ a.cow_num }} </span></h6>
              <h6>Calf/ves<span class="float-right">{{ a.calves }}</span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if gml %}
        {% for b in gml %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest1">
            <div class="card-body">
              <img src="{{ a.post_img }}" class="card-img-top" alt="No image available">
              <div class="mr-5"><h5>{{ b.section }}</h5></div>
              <h6>Buck <span class="float-right">{{ a.buck_num }}</span></h6>
              <h6>Doe  <span class="float-right"> {{ a.doe_num }} </span></h6>
              <h6>Kid(s)<span class="float-right">{{ a.kid }}</span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if pml %}
        {% for c in pml %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest1">
            <div class="card-body">
              <img src="{{ a.post_img }}" class="card-img-top" alt="No image available">
              <div class="mr-5"><h5>{{ c.section }}</h5></div>
              <h6>Matured Pigs <span class="float-right">{{ a.buck_num }}</span></h6>
              <marquee behavior="" direction="">(weaners, growers, boars, sows, hogs, dry sows, nursing mother)</marquee> </h5>
              <h6>Pigglets  <span class="float-right"> {{ a.doe_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if sml %}
        {% for d in sml %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest1">
            <div class="card-body">
              <img src="{{ a.post_img }}" class="card-img-top" alt="No image available">
              <div class="mr-5"><h5>{{ d.section }}</h5></div>
              <h6>Ram <span class="float-right">{{ a.ram_num }}</span></h6>
              <h6>Ewe  <span class="float-right"> {{ a.ewe_num }} </span></h6>
              <h6>Lamb<span class="float-right">{{ a.lamb }}</span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
		</div>
      <hr>
      <h3 class="text-center mt-2"> Latest Culling Records</h3>
      <div class="card-deck">
        {% if ccl %}
        {% for q in ccl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest2">
            <div class="card-body">
              <div class="mr-5"><h5>{{ q.section }}</h5></div>
              <h6>Bull <span class="float-right">{{ q.bull_num }}</span></h6>
              <h6>Cow  <span class="float-right"> {{ q.cow_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        
        {% if gcl %}
        {% for b in gcl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest2">
            <div class="card-body">
              <div class="mr-5"><h5>{{ b.section }}</h5></div>
              <h6>Buck <span class="float-right">{{ b.buck_num }}</span></h6>
              <h6>Doe  <span class="float-right"> {{ b.doe_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if scl %}
        {% for j in scl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest2">
            <div class="card-body">
              <div class="mr-5"><h5>{{ j.section }}</h5></div>
              <h6>Ram <span class="float-right">{{ j.ram_num }}</span></h6>
              <h6>Ewe  <span class="float-right"> {{ j.ewe_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if pcl %}
        {% for d in pcl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest2">
            <div class="card-body">
              <div class="mr-5"><h5>{{ d.section }}</h5></div>
              <h6>Boar <span class="float-right">{{ d.boar_num }}</span></h6>
              <h6>Sow  <span class="float-right"> {{ d.sow_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <hr>
      <h3 class="text-center mt-2"> Latest Procurement Records</h3>
      <div class="card-deck">
        {% if cpl %}
        {% for q in cpl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest3">
            <div class="card-body">
              <div class="mr-5"><h5>{{ q.section }}</h5></div>
              <h6>Bull <span class="float-right">{{ q.bull_num }}</span></h6>
              <h6>Cow  <span class="float-right"> {{ q.cow_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        
        {% if gpl %}
        {% for b in gpl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest3">
            <div class="card-body">
              <div class="mr-5"><h5>{{ b.section }}</h5></div>
              <h6>Buck <span class="float-right">{{ b.buck_num }}</span></h6>
              <h6>Doe  <span class="float-right"> {{ b.doe_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if spl %}
        {% for j in spl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest3">
            <div class="card-body">
              <div class="mr-5"><h5>{{ j.section }}</h5></div>
              <h6>Ram <span class="float-right">{{ j.ram_num }}</span></h6>
              <h6>Ewe  <span class="float-right"> {{ j.ewe_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if ppl %}
        {% for d in ppl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest3">
            <div class="card-body">
              <div class="mr-5"><h5>{{ d.section }}</h5></div>
              <h6>Boar <span class="float-right">{{ d.boar_num }}</span></h6>
              <h6>Sow  <span class="float-right"> {{ d.sow_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <hr class="mt-4">
      <h3 class="text-center mt-2"> Latest Sale(s) Records</h3>
      <div class="card-deck">
        {% if csl %}
        {% for q in csl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest4">
            <div class="card-body">
              <div class="mr-5"><h5>{{ q.section }}</h5></div>
              <h6>Bull <span class="float-right">{{ q.bull_num }}</span></h6>
              <h6>Cow  <span class="float-right"> {{ q.cow_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        
        {% if gsl %}
        {% for b in gsl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest4">
            <div class="card-body">
              <div class="mr-5"><h5>{{ b.section }}</h5></div>
              <h6>Buck <span class="float-right">{{ b.buck_num }}</span></h6>
              <h6>Doe  <span class="float-right"> {{ b.doe_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if ssl %}
        {% for j in ssl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest4">
            <div class="card-body">
              <div class="mr-5"><h5>{{ j.section }}</h5></div>
              <h6>Ram <span class="float-right">{{ j.ram_num }}</span></h6>
              <h6>Ewe  <span class="float-right"> {{ j.ewe_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if psl %}
        {% for d in psl %}
        <div class="col-xl-3 col-sm-6 mb-3 animate__animated animate__backInLeft__delay-5s">
          <div class="card dashboard text-white latest4">
            <div class="card-body">
              <div class="mr-5"><h5>{{ d.section }}</h5></div>
              <h6>Boar <span class="float-right">{{ d.boar_num }}</span></h6>
              <h6>Sow  <span class="float-right"> {{ d.sow_num }} </span></h6>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'main:latest_page' %}">
              <span class="float-left">{{ a.date }}</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
		
		
	  </div>
	  <!-- /.container-fluid-->

   	</div>
      
      {% endblock %}