{% for record in records %}
  <a href="{% url 'main:admin_event_detail' record.id %}"
     class="event-row shadow-sm text-decoration-none">

    <div class="col col-date">
      {{ record.created_at|date:"M d, Y H:i" }}
    </div>

    <div class="col col-event">
      <span class="event-badge
        {% if record.event_name == 'mortality' %}
            mortality

        {% elif record.event_name == 'culling' %}
            culling

        {% elif record.event_name == 'procurement' %}
            procurement

        {% elif record.event_name == 'sale' %}
            sale

        {% elif record.event_name == 'treatment' %}
            treatment

        {% elif record.event_name == 'vaccination' %}
            vaccination

        {% elif record.event_name == 'gift' %}
            gift

        {% elif record.event_name == 'farrowing' or record.event_name == 'calving' or record.event_name == 'lambing' or record.event_name == 'kidding' %}
            birthing

        {% else %}
            default
        {% endif %}
      ">
        {{ record.get_event_name_display }}
      </span>
    </div>

    <div class="col col-type">
      {{ record.animal_type.animal_type_name|title }}
    </div>

    <div class="col col-location">
      {{ record.location|default:"-" }}
    </div>

    <div class="col col-number-of-animals" >
      {{ record.number_of_animals|default:"-" }}
    </div>

  </a>
{% endfor %}