{% extends 'main/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Pig Procurement
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Pig Procurement</li>
      </ol>
      <div class="box_general padding_bottom pb-0 bg-light">
        <h5>Show only from:</h5>
          <form class="mb-5 " action="{% url 'main:pigproca_filter' %}">
            <div class="row">
              <div class="col-lg-4 col-md-12 form-group">
                {{ ppa.start_date }}
              </div>
              <div class="col-lg-4 col-md-12 form-group">
                {{ ppa.end_date }}
              </div>
              <div class="col-lg-4 col-md-12 form-group">
                <input type="submit" class="btn btn-warning" value="Show">
              </div>
            </div> 
          </form>
      </div>
		<div class="box_general padding_bottom">
      {% if app_page_obj %}
      {% for a in app_page_obj %}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sow(s):</h5>
              <p class="card-text">{{ a.sow_num }}</p>
              <h5 class="card-title">Size(s):</h5>
              <p class="card-text">{{ a.size }}</p>
              <h5 class="card-title">Boar(s):</h5>
              <p class="card-text">{{ a.boar_num }}</p>
              <h5 class="card-title">Size(s):</h5>
              <p class="card-text">{{ a.size1 }}</p>
              <p class="card-text card-footer"><small class="text-muted">{{ a.date|date:"M d, Y" }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
		</div>
    <div>
              
      <nav aria-label="">
        <ul class="pagination">
          
          {% if app_page_obj.has_previous %}
            
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ app_page_obj.previous_page_number }}" > Previous</a></li>
          
          {% endif %}
          
          
           
         {% for i in nums %}
          
          <li class="page-item {% if  i == page_number %} active {% endif %}"><a href="?page={{ forloop.counter }}" class="page-link">{{ forloop.counter }}</a></li>                    

         {% endfor %}
          
          {% if app_page_obj.has_next %}
            
          <li class="page-item"><a class="page-link" href="?page={{ app_page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ app_page_obj.paginator.num_pages }}">&laquo; Last</a></li>
            
          {% endif %}
          
        </ul>
      </nav>
      <!-- /pagination -->
    </div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}