{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!Doctype html>
{% block title %}
 Sheep-Records
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb top-label">
        <li class="breadcrumb-item">
          <a href="{% url 'main:dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Small ruminant(sheep) Records</li>
      </ol>
        <div class="box_general padding_bottom bg-light">
            <div class="row ">
                
                <div class="col-6"> <h5>Total Sheep Sales for the month: &#8358;
                    {% for m in sheepsale%}
                    {% if forloop.last %} 
                    <span class="counter">{{ m.total }}</span></h5>
                    {% endif %}
                    {% endfor %}
                </div>
                    
                <div class="col-6">Procurements</div>
                
            </div>
        </div>
	  <!-- Icon Cards-->
		<div class="box_general padding_bottom">
            <div class="panel panel-container">
                {% for s in ramc %}
                {% if forloop.last %}
                <h3 class=" text-center mb-5 all-head">Mortality Entry Records For the Month Of {{ s.month|date:"M" }}</h3>
                <div class="row">
                    <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                        <div class="panel panel-teal panel-widget border-right">
                            <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-blue"></em>                             
                                <div class="large value counter">{{ s.total }}</div>
                                {% endif %}
                                {% endfor %}
                                <div class="text-muted">Ram(s)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                        <div class="panel panel-blue panel-widget border-right">
                            <div class="row no-padding"><em class="fa fa-xl fa-comments color-orange"></em>
                                {% for h in ewec %}
                                {% if forloop.last %}
                                <div class="large value counter">{{ h.total }}</div>
                                <div class="text-muted">Ewe(s)</div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                        <div class="panel panel-orange panel-widget border-right">
                            <div class="row no-padding"><em class="fa fa-xl fa-users color-teal"></em>
                                {% for d in lambc %}
                                {% if forloop.last %}
                                <div class="large value counter">{{ d.total }}</div>
                                <div class="text-muted">Lamb(s)</div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <a href="{% url 'main:sheep_mota' %}" class="btn btn-warning btn-sm">View all Mortality Records</a>
		</div>
        <div class="box_general padding_bottom">
            <div class="panel panel-container">
                {% for s in ramcull %}
                {% if forloop.last %}
                <h3 class=" text-center mb-5 all-head">Culling Entry Records For the Month Of {{ s.month|date:"M" }}</h3>
                <div class="row">
                    <div class="col-xs-6 col-md-4 col-lg-6 no-padding">
                        <div class="panel panel-teal panel-widget border-right">
                            <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-blue"></em>                             
                                <div class="large value counter">{{ s.total }}</div>
                                {% endif %}
                                {% endfor %}
                                <div class="text-muted">Ram(s)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-lg-6 no-padding">
                        <div class="panel panel-blue panel-widget border-right">
                            <div class="row no-padding"><em class="fa fa-xl fa-comments color-orange"></em>
                                {% for h in ewecull %}
                                {% if forloop.last %}
                                <div class="large value counter">{{ h.total }}</div>
                                <div class="text-muted">Ewe(s)</div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <a href="{% url 'main:sheep_culla' %}" class="btn btn-warning btn-sm ">View all Culling Records</a>
		</div>
        <div class="box_general padding_bottom">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="header_box version_2">
                        <h2><i class="fa fa-bar-chart"></i>Sheep Mortality rates over month(s)</h2>
                    </div>
                    <canvas id="myChart" width="400" height="250"></canvas>
                    <script>
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for count in motcs %} '{{ count.month|date:"M Y" }}', {% endfor %}],
                            datasets: [{
                                label: 'number of mortality records',
                                data: [{% for count in motcs %} {{count.total }}, {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    </script>
                    
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="header_box version_2">
                        <h2><i class="fa fa-bar-chart"></i>Sheep Population rates over month(s)</h2>
                    </div>
                    <canvas id="myChartp" width="400" height="250"></canvas>
                    <script>
                    const ctxp = document.getElementById('myChartp').getContext('2d');
                    const myChartp = new Chart(ctxp, {
                        type: 'bar',
                        data: {
                            labels: [{% for countc in pops %}'{{ countc.month }}', {% endfor %}],
                            datasets: [{
                                label: 'Population',
                                data: [{% for countc in pops %} {{ countc.adds }}, {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    </script>

                </div>
            </div>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
  {% endblock %}