{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'main:main_index' %}"><img class="logo-image" src="{% static 'img/try2.png' %}" data-retina="true" alt="logo" ></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item"main_index data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'main:main_index' %}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:drugs_inventory_land' %}">
            <i class="fa fa-fw fa-clipboard"></i>
            <span class="nav-link-text">Drugs Inventory</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'main:main_index' %}">
            <i class="fa fa-fw fa-clipboard"></i>
            <span class="nav-link-text">Paddock</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'main:main_index' %}">
            <i class="fa fa-fw fa-clipboard"></i>
            <span class="nav-link-text">Ewe</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'main:main_index' %}">
            <i class="fa fa-fw fa-clipboard"></i>
            <span class="nav-link-text">Goat</span>
          </a>
        </li>



		    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing" hidden>
          <a class="nav-link disabled text-muted" href="#">
            <i class="fa fa-fw fa-plus-circle"></i>
            <span class="nav-link-text">Supervisors</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pr-lg-5">
          <span style="line-height: 35px;">{{ request.user.get_full_name }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-power-off text-danger"></i> 
            Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>

  {% comment %}
   <!-- Report Modal Cow-->
   <div class="modal fade" id="exampleModalC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'main:cow_mota' %}">Mortality</a><a class="btn btn-info mr-1" href="{% url 'main:cow_culla' %}">Culling</a><a class="btn btn-info mr-1" href="{% url 'main:cow_proca' %}">Procurement</a><a class="btn btn-info mr-1" href="{% url 'main:cow_salea' %}">Sales</a><a class="btn btn-info mr-1" href="">Birth</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Report Modal Sheep-->
   <div class="modal fade" id="exampleModalS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'main:sheep_mota' %}">Mortality</a><a class="btn btn-info mr-1" href="{% url 'main:sheep_culla' %}">Culling</a><a class="btn btn-info mr-1" href="{% url 'main:sheep_proca' %}">Procurement</a><a class="btn btn-info mr-1" href="{% url 'main:sheep_salea' %}">Sales</a><a class="btn btn-info mr-1" href="">Birth</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Report Modal Pig-->
   <div class="modal fade" id="exampleModalP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'main:pig_mota' %}">Mortality</a><a class="btn btn-info mr-1" href="{% url 'main:pig_culla' %}">Culling</a><a class="btn btn-info mr-1" href="{% url 'main:pig_proca' %}">Procurement</a><a class="btn btn-info mr-1" href="{% url 'main:pig_salea' %}">Sales</a><a class="btn btn-info mr-1" href="">Birth</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Report Modal Goat-->
   <div class="modal fade" id="exampleModalG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'main:goat_mota' %}">Mortality</a><a class="btn btn-info mr-1" href="{% url 'main:goat_culla' %}">Culling</a><a class="btn btn-info mr-1" href="{% url 'main:goat_proca' %}">Procurement</a><a class="btn btn-info mr-1" href="{% url 'main:goat_salea' %}">Sales</a><a class="btn btn-info mr-1" href="">Birth</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
  <!-- remark modal -->

  <!-- Button trigger modal -->




