{% load static %}
{% load tz %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand m-0" href="{% url 'veterinary:vet_index' %}"><img src="{% static 'img/dd-white.png' %}" data-retina="true" alt="" width="150" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'veterinary:vet_index' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
		    <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
          <a class="nav-link" href="{% url 'veterinary:dispatch_view' %}">
            <i class="fa fa-fw fa-clipboard"></i>
            <span class="nav-link-text">Drug Dispatch 1</span>
          </a>
        </li> -->
       <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#drugs" data-parent="#mylistings">
                <i class="">☰</i>
                <span class="nav-link-text">Store Inventory</span>
              </a>
              <ul class="sidenav-second-level collapse" id="drugs">
                <li>
                  <a href="{% url 'veterinary:dispatch_view' %}">Drug Dispatch</a>
                </li>
                <li>
                  <a href="{% url 'veterinary:drugs_view' %}">Drug Inventory</a>
                </li>
              </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#mortality" data-parent="#mylistings">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">Event</span>
          </a>
          <ul class="sidenav-second-level collapse" id="mortality">
            <li>
              <a href="{% url 'veterinary:create_event' %}">Enter Records</a>
            </li>
            <li>
              <a href="{% url 'veterinary:event_records' %}">Event Records</a>
            </li>
          </ul>
      </li>
       <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#census" data-parent="#mylistings">
                <i class="fa fa-fw fa-list"></i>
                <span class="nav-link-text">Census</span>
              </a>
              <ul class="sidenav-second-level collapse" id="census">
                <li>
                  <a href="{% url 'veterinary:create_census' %}">Enter Census</a>
                </li>
          <li>
                  <a href="{% url 'veterinary:census_records' %}">Census Records</a>
                </li>
              </ul>
      </li>
		<!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reviews">
          <a class="nav-link" href="{% url 'veterinary:drugs_view' %}">
            <i class="fa fa-fw fa-clipboard"></i>
            <span class="nav-link-text">Drug Inventory 1</span>
          </a>
        </li> -->

      <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reviews">
        <a class="nav-link" href="{% url 'veterinary:event_records' %}">
          <i class="fa fa-fw fa-clipboard"></i>
          <span class="nav-link-text">Records 1</span>
        </a>
      </li> -->
    <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reviews">
          <a class="nav-link" href="{% url 'veterinary:create_event' %}">
            <i class="fa fa-fw fa-clipboard"></i>
            <span class="nav-link-text">Enter Record 1</span>
          </a>
        </li> -->
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookmarks">
         
        </li>

		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
         
        </li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
         
        </li>

         <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reviews">
        <a class="nav-link" href="{% url 'veterinary:census_records' %}">
          <i class="fa fa-fw fa-clipboard"></i>
          <span class="nav-link-text">Census Records 1</span>
        </a>
      </li> -->
     <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reviews">
        <a class="nav-link" href="{% url 'veterinary:create_census' %}">
          <i class="fa fa-fw fa-clipboard"></i>
          <span class="nav-link-text">Enter Census 1</span>
        </a>
      </li> -->
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        

        <li class="nav-item pr-lg-5">
          <span style="line-height: 35px; font-weight: 600;">{{ request.user.get_full_name }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>