{% extends 'drugapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!Doctype html>
{% block title %} Home {% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item active">My Dashboard</li>
    </ol>

    <div id="alert-container"></div>
    
    <div class="box_general padding_bottom">
      <h2>try this</h2>
      <table>
        <thead>
          <tr>
            <th>One</th>
            <th>TWO</th>
            <th>Three</th>
            <th>Four</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="box_general">
      <div class="table-responsive">
        {% if drugs %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Drug Manufacturer</th>
              <th scope="col">Drug Name</th>
              <th scope="col">Batch Number</th>
              <th scope="col">Quantity</th>
              <th scope="col">Expiry Date</th>
            </tr>
          </thead>
          {% for d in drugs %}
          <tbody>
            <tr>
              <td scope="row">{{ d.manufacturer_name }} </td>
              <td>{{ d.drug_name }}</td>
              <td>{{ d.batch_number }}</td>
              <td>{{ d.quantity }}</td>
              <td>{{ d.expiry_date }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
