{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!Doctype html>
{% block title %}
 Cow-Census
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Large ruminant(cow) Census</li>
      </ol>
	  <!-- Icon Cards-->
		<div class="box_general padding_bottom">
            {% if ccv_page_obj %}
            {% for b in ccv_page_obj %}
            <div class="row mb-3">
                <div class="col-12 bg-dark rounded-pill card">
                    <div class="card-header">
                        <b class="text-info offset-5"> {{ b.month }}</b> <a href="{% url 'farmrecord:delete_cowpop' b.id %}" class="btn btn-danger btn-sm float-right">Delete</a>
                    </div>
                    <div>
                        <p class="text-white">
                            <b class="offset-5" >Cows:</b>  {{ b.cow_population}}
                        </p>
                    </div>
                    <hr>
                    <div >
                        <p class="text-white">
                            <b class="offset-5"> Bulls:</b> {{ b.bull_population}}
                        </p>
                    </div>
                    <hr>
                    <div >
                        <p class="text-white">
                            <b class="offset-5"> Calves:</b> {{ b.calf_population}}
                        </p>
                    </div>
                    <hr>
                    <div>
                        <p class="text-white">
                            
                            <b class="offset-5"> Total:</b>  {{ b.addc }}
                            
                        </p>
                    </div>
                </div>
                
            </div>
            <!-- cowcenmodal -->
            
           
            {% endfor %}
            {% endif %}
            {{ check }}
            <div>
              
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    
                    {% if ccv_page_obj.has_previous %}
                      
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ ccv_page_obj.previous_page_number }}"> Previous</a></li>
                    
                    {% endif %}
                    
                    
                     
                    {% for i in ccv_page_obj.paginator.page_range %}
                    {% if ccv_page_obj.number == i %}
                      <li class="page-item active" aria-current="page">
                        <span class="page-link">
                          {{ i }}
                          <span class="sr-only">(current)</span>
                        </span>
                      </li>
                      {% elif i > ccv_page_obj.number|add:'-5' and i < ccv_page_obj.number|add:'5' %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                    
                    {% if ccv_page_obj.has_next %}
                      
                    <li class="page-item"><a class="page-link" href="?page={{ ccv_page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ ccv_page_obj.paginator.num_pages }}">&laquo; Last</a></li>
                      
                    {% endif %}
                    
                  </ul>
                </nav>
                <!-- /pagination -->
              </div>
		</div>
	  </div>
	  <!-- /.container-fluid-->
    
   	</div>
    <!-- /.container-wrapper-->
  {% endblock %}

  <!-- Button trigger modal -->


<!-- Cowcen Modal -->
<div class="modal fade" id="exampleModalCowcen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
