{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!Doctype html>
{% block title %}
 Cow-Census
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Large ruminant(cow) Charts</li>
      </ol>
	  <!-- Icon Cards-->
		<div class="box_general padding_bottom">
      <div class="header_box version_2">
		<h2><i class="fa fa-bar-chart"></i>Cattle Mortality rates over month(s)</h2>
	  </div>
      <canvas id="myChart1" width="400" height="150"></canvas>
      <script>
      const ctx1 = document.getElementById('myChart1').getContext('2d');
      const myChart1 = new Chart(ctx1, {
          type: 'bar',
          data: {
              labels: [{% for count in cmot %} '{{ count.month|date:"M Y" }}', {% endfor %}],
              datasets: [{
                  label: ' Mortality Entires',
                  data: [{% for count in cmot %} {{count.total }}, {% endfor %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.8)',
                      'rgba(54, 162, 235, 0.8)',
                      'rgba(255, 206, 86, 0.8)',
                      'rgba(75, 192, 192, 0.8)',
                      'rgba(153, 102, 255, 0.8)',
                      'rgba(255, 159, 64, 0.8)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      </script>
      
		</div>
    <div class="box_general padding_bottom">
        <div class="header_box version_2">
            <h2><i class="fa fa-bar-chart"></i>Cattle Population rates over month(s)</h2>
        </div>
      <canvas id="myChart" width="400" height="150"></canvas>
      <script>
      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for countc in cpop %}'{{ countc.month }}', {% endfor %}],
              datasets: [{
                  label: 'Population',
                  data: [{% for countc in cpop %} {{ countc.addc }}, {% endfor %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      </script>
      
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
  {% endblock %}