{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Cow Mortality
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Cow Mortality</li>
      </ol>
		<div class="box_general padding_bottom">
      <h5>Show only from:</h5>
      <form class="mb-5" action="{% url 'farmrecord:cowmot_filter' %}">
        <div class="row">
          <div class="col-lg-4 col-md-12 form-group">
            {{ q.start_date }}
          </div>
          <div class="col-lg-4 col-md-12 form-group">
            {{ q.end_date }}
          </div>
        </div>
        <input type="submit" class="btn btn-outline-info btn-sm" value="Show">
      </form>
			      <table>
                <caption>Mortality Records</caption>
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Mortality</th>
                    <th scope="col">Bull(s)</th>
                    <th scope="col">Cow(s)</th>
                    <th scope="col">Calves</th>
                    <th scope="col">Size(s)</th>
                    <th scope="col">ACTION(View others)</th>
                  </tr>
                </thead>
                <tbody>
                  {% if  cm_page_obj %}
                  {% for a in cm_page_obj %}
                  <tr>
                    <td data-label="Date">{{ a.date|date:"M d, Y" }}</td>
                    <td data-label="Location">{{ a.location }}</td>
                    <td data-label="Mortality">{{ a.mortality }}</td>
                    <td data-label="Bull(s)">{{ a.bull_num }}</td>
                    <td data-label="Cow(s)">{{ a.cow_num }}</td>
                    <td data-label="Calves">{{ a.calves }}</td>
                    <td data-label="Size(s)">{{ a.size }}</td>
                    <th data-label="Action" class="table"><a href="{% url 'farmrecord:cow_motrec_view' a.id %}" >View</a></th>
                  {% endfor %}
                  {% endif %} 
                  </tr>
                </tbody>
            </table>
            {% for a in count %}
            {% if forloop.last %}
            <label for="">Total mortality for Current month</label>
            <h4>{{ a.total }}</h4>
            {% endif%}
            {% endfor %}
           
            <div>
              <!-- <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav> -->
              
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  
                  {% if cm_page_obj.has_previous %}
                    
                  <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ cm_page_obj.previous_page_number }}"> Previous</a></li>
                  
                  {% endif %}
                  
                  
                   
                 {% for i in nums %}
                  
                  <li class="page-item"><a href="?page={{ forloop.counter }}" class="page-link active">{{ forloop.counter }}</a></li>                    

                 {% endfor %}
                  
                  {% if cm_page_obj.has_next %}
                    
                  <li class="page-item"><a class="page-link" href="?page={{ cm_page_obj.next_page_number }}">Next</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ cm_page_obj.paginator.num_pages }}">&laquo; Last</a></li>
                    
                  {% endif %}
                  
                </ul>
              </nav>
              <!-- /pagination -->
            </div>
            <button class="btn btn-info"><a href="{% url 'farmrecord:cowmot_filter' %}">filter</a> </button>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
<!-- table view Modal Cow-->
<!-- <div class="modal fade" id="exampleModalt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Image(s) of dead animal(s)</h5>
          <img src="{{ a.pst_image_1 }}" alt="">
      </div>
      <div class="modal-footer">
          <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
        <p>{{ a.comment }}</p>
      </div>
      <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div> -->
{% endblock %}