{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Cow Procurement
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Cow Procurement(DETAILS)</li>
      </ol>
		<div class="box_general padding_bottom">
			<div class="container">
        <div class="row">
          {% if Pview %}
            <div class="container">
              <div>
                <h3 class="h3 mt-5">{{ Pview.date }}</mview></h3>
                <hr>
                <h4 class="h4 mt">Location(s):</h4>
                <p><strong>  {{ Pview.location }} </strong></p>
                <hr>
                <h4 class="h4 mt">Cow(s):</h4>
                <p><strong>  {{ Pview.cow_num }} </strong></p>
                <hr>
                <h4 class="h4 mt">Bull(s):</h4>
                <p><b> {{ Pview.bull_num }} </b></p>
                <hr>
                <h4 class="h4 mt">Reason:</h4>
                <p>{{ Pview.reason }}</p>
                <hr>
                <a href="{% url 'farmrecord:cow_procrec' %}" class="btn btn-secondary">Go Back</a>
                
                <a href="{% url 'farmrecord:delete_postprocc' Pview.id %}" class="btn btn-danger float-right">Delete</a>
                <a href="{% url 'farmrecord:edit_cowproc' Pview.id %}" class="btn btn-warning float-right mr-2">Edit</a>
                
              </div>
            </div>
          {% endif %}
        </div>
      </div>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->

{% endblock %}