{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Cow Procurement
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Cow Procurement</li>
      </ol>
		<div class="box_general padding_bottom">
      <h5>Show only from:</h5>
      <form class="mb-5" action="{% url 'farmrecord:cowproc_filter' %}">
        <div class="row">
          <div class="col-lg-4 col-md-12 form-group">
            {{ q.start_date }}
          </div>
          <div class="col-lg-4 col-md-12 form-group">
            {{ q.end_date }}
          </div>
        </div>
        <input type="submit" class="btn btn-outline-info btn-sm" value="Show">
      </form>
			<table>
        <caption>Procurement Records</caption>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Bull(s)</th>
            <th scope="col">Size(s)</th>
            <th scope="col">Cow(s)</th>
            <th scope="col">Size(s)</th>
            <th scope="col">ACTION(View others)</th>
          </tr>
        </thead>
        <tbody>
          {% if cp_page_obj %}
          {% for a in cp_page_obj %}
          <tr>
            <td data-label="Date">{{ a.date }}</td>
            <td data-label="Bull(s)">{{ a.bull_num }}</td>
            <td data-label="Size(s)">{{ a.size }}</td>
            <td data-label="Cow(s)">{{ a.cow_num }}</td>
            <td data-label="Size(s)">{{ a.size }}</td>
            <th data-label="Action" class="table"><a href="{% url 'farmrecord:cow_procrec_view' a.id %}" >View</a></th>
          {% endfor %}
          {% endif %} 
          </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        
        {% if cp_page_obj.has_previous %}
          
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ cp_page_obj.previous_page_number }}"> Previous</a></li>
        
        {% endif %}
        
        
         
       {% for i in nums %}
        
        <li class="page-item"><a href="?page={{ forloop.counter }}" class="page-link active">{{ forloop.counter }}</a></li>                    

       {% endfor %}
        
        {% if cp_page_obj.has_next %}
          
        <li class="page-item"><a class="page-link" href="?page={{ cp_page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ cp_page_obj.paginator.num_pages }}">&laquo; Last</a></li>
          
        {% endif %}
        
      </ul>
    </nav>
    <!-- /pagination -->
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
{% endblock %}