{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Cow-Calving
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Cow Calving</li>
      </ol>
		<div class="box_general padding_bottom">
      <h5>Show only from:</h5>
      <form class="mb-5" action="{% url 'farmrecord:cowmot_filter' %}">
        <div class="row">
          <div class="col-lg-4 col-md-12 form-group">
            {{ q.start_date }}
          </div>
          <div class="col-lg-4 col-md-12 form-group">
            {{ q.end_date }}
          </div>
        </div>
        <div class="col-lg-12 col-md-12 form-group">
          <label for="">Export to csv</label>
          {{ q.export_to_CSV }}
        </div>
        <input type="submit" class="btn btn-outline-info btn-sm" value="Show">
      </form>
			      <table>
                <caption>Birth Records</caption>
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Calvings</th>
                    <th scope="col">Calf/ves</th>
                    <th scope="col">Still birth(s)</th>
                    <th scope="col">Weak Claf/ves</th>
                    <th scope="col">Defected Calf/ves</th>
                    <th scope="col">ACTION(View others)</th>
                  </tr>
                </thead>
                <tbody>
                  {% if  queryset %}
                  {% for a in queryset %}
                  <tr>
                    <td data-label="Date">{{ a.date|date:"M d, Y" }}</td>
                    <td data-label="Calvings">{{ a.clavings_num }}</td>
                    <td data-label="Calf/ves">{{ a.claves_num }}</td>
                    <td data-label="Still birth(s)">{{ a.still_birthc }}</td>
                    <td data-label="Weak Claf/ves">{{ a.weak_claves }}</td>
                    <td data-label="Defected Calf/ves">{{ a.defected_calf }}</td>
                    <th data-label="Action" class="table"><a href="{% url 'farmrecord:cow_birthrec_view' a.id %}" >View</a></th>
                  {% endfor %}
                  {% else %}
                        <h4>There is no record for the dates you enetred, check the dates and try again</h4>
                  {% endif %} 
                  </tr>
                </tbody>
            </table>
            
            
            
           
            
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
<!-- table view Modal Cow-->

{% endblock %}