{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Cow-Calving
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'farmrecord:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="{% url 'farmrecord:cow_birthrec' %}" a>Cow Birth records</a>
        </li>
        <li class="breadcrumb-item active">
          <a >Cow birth results</a>
        </li>
      </ol>
		<div class="box_general padding_bottom">
			      <table>
                <caption>Birth Records</caption>
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Calvings</th>
                    <th scope="col">Calf/ves</th>
                    <th scope="col">Still birth(s)</th>
                    <th scope="col">Weak Claf/ves</th>
                    <th scope="col">Defected Calf/ves</th>
                    <th scope="col">ACTION(View others)</th>
                  </tr>
                </thead>
                <tbody>
                  {% if  queryset %}
                  {% for a in queryset %}
                  <tr>
                    <td data-label="Date">{{ a.date|date:"M d, Y" }}</td>
                    <td data-label="Calvings">{{ a.clavings_num }}</td>
                    <td data-label="Calf/ves">{{ a.claves_num }}</td>
                    <td data-label="Still birth(s)">{{ a.still_birthc }}</td>
                    <td data-label="Weak Claf/ves">{{ a.weak_claves }}</td>
                    <td data-label="Defected Calf/ves">{{ a.defected_calf }}</td>
                    <th data-label="Action" class="table"><a href="{% url 'farmrecord:cow_birthrec_view' a.id %}" >View</a></th>
                  {% endfor %}
                  {% else %}
                        <h4>There is no record for the dates you enetred, check the dates and try again</h4>
                  {% endif %} 
                  </tr>
                </tbody>
            </table>
            
            
            
           
            
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
<!-- table view Modal Cow-->

{% endblock %}