{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Sheep-Lambing
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'farmrecord:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="{% url 'farmrecord:sheep_birthrec' %}" a>Sheep birth records</a>
        </li>
        <li class="breadcrumb-item active">
          <a >Sheep birth results</a>
        </li>
      </ol>
		<div class="box_general padding_bottom">
			      <table>
                <caption>Birth Records</caption>
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Lambings</th>
                    <th scope="col">Lamb(s)</th>
                    <th scope="col">Still birth(s)</th>
                    <th scope="col">Weak Lamb(s)</th>
                    <th scope="col">Defected Lamb(s)</th>
                    <th scope="col">ACTION(View others)</th>
                  </tr>
                </thead>
                <tbody>
                  {% if  queryset %}
                  {% for a in queryset %}
                  <tr>
                    <td data-label="Date">{{ a.date|date:"M d, Y" }}</td>
                    <td data-label="Lambings">{{ a.lambings_num }}</td>
                    <td data-label="Lamb(s)">{{ a.lambs_num }}</td>
                    <td data-label="Still birth(s)">{{ a.still_births }}</td>
                    <td data-label="Weak Lamb(s)">{{ a.weak_lamb }}</td>
                    <td data-label="Defected Lamb(s)">{{ a.defected_lamb }}</td>
                    <th data-label="Action" class="table"><a href="{% url 'farmrecord:sheep_birthrec_view' a.id %}" >View</a></th>
                  {% endfor %}
                  {% endif %} 
                  </tr>
                </tbody>
            </table>
            
            
            
           
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
<!-- table view Modal Cow-->

{% endblock %}