{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Goat-Kidding
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'farmrecord:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="{% url 'farmrecord:goat_birthrec' %}" a>Goat birth records</a>
        </li>
        <li class="breadcrumb-item active">
          <a >Goat birth results</a>
        </li>
      </ol>
		<div class="box_general padding_bottom">
			      <table>
                <caption>Birth Records</caption>
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Kiddings</th>
                    <th scope="col">Kids</th>
                    <th scope="col">Still birth(s)</th>
                    <th scope="col">Weak Kid(s)</th>
                    <th scope="col">Defected Kid(s)</th>
                    <th scope="col">ACTION(View others)</th>
                  </tr>
                </thead>
                <tbody>
                  {% if  queryset %}
                  {% for a in queryset %}
                  <tr>
                    <td data-label="Date">{{ a.date|date:"M d, Y" }}</td>
                    <td data-label="Kiddings">{{ a.kiddings_num }}</td>
                    <td data-label="Kids">{{ a.kids_num }}</td>
                    <td data-label="Still birth(s)">{{ a.still_birthg }}</td>
                    <td data-label="Weak Kid(s)">{{ a.weak_kid }}</td>
                    <td data-label="Defected Kid(s)">{{ a.defected_kid }}</td>
                    <th data-label="Action" class="table"><a href="{% url 'farmrecord:goat_birthrec_view' a.id %}" >View</a></th>
                  {% endfor %}
                  {% else %}
        <h4>There is no record for the dates you enetred, check the dates and try again</h4>
                  {% endif %} 
                  </tr>
                </tbody>
            </table>
            
            
            
           
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
<!-- table view Modal Cow-->

{% endblock %}