{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!Doctype html>
{% block title %}
Goat-sales
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Small ruminant(goat) Sales</li>
      </ol>
	  <!-- Icon Cards-->
		<div class="box_general padding_bottom">
      {% if messages %}
        {% for m in messages %}
          <div class="alert {{ m.tags }}">{{ m }}</div>
        {% endfor %}
        {% endif %}
            <form method="post" enctype="multipart/form-data" action="">
              {{ goat_sale | crispy }}
              {% csrf_token %}
                <button class="btn btn-success" value="submit">Submit</button>
            </form>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
{% endblock %}