{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Home
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
		<div class="box_general padding_bottom">
			<table>
        <caption>Mortality Records</caption>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Mortality</th>
            <th scope="col">Buck(s)</th>
            <th scope="col">Doe(s)</th>
            <th scope="col">Kid(s)</th>
            <th scope="col">Size(s)</th>
            <th scope="col">ACTION(View others)</th>
          </tr>
        </thead>
        <tbody>
          {% if goat_mrec %}
          {% for b in goat_mrec %}
          <tr>
            <td data-label="Date">{{ b.date }}</td>
            <td data-label="Location">{{ b.location }}</td>
            <td data-label="Mortality">{{ b.mortality }}</td>
            <td data-label="Buck(s)">{{ b.buck_num }}</td>
            <td data-label="Doe(s)">{{ b.doe_num }}</td>
            <td data-label="Kid(s)">{{ b.kid }}</td>
            <td data-label="Size(s)">{{ b.size }}</td>
            <th data-label="Action" class="table"><a href="{% url 'farmrecord:cow_motrec_view' b.id %}" >View</a></th>
          {% endfor %}
          {% endif %} 
          </tr>
        </tbody>
      </table>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->

<!-- table view Modal Cow-->
<div class="modal fade" id="exampleModalG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Image(s) of dead animal(s)</h5>
            <img src="img/dead-ram.jpg" alt="">
        </div>
        <div class="modal-footer">
            <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem excepturi accusantium odit necessitatibus in similique sint eveniet laudantium vitae modi quae eius sed veritatis, cupiditate, nisi quia, expedita nemo facere.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          </div>
      </div>
    </div>
  </div>
{% endblock %}