{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Goat-birth
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Small ruminant(goat) Birth</li>
      </ol>
	  <!-- Icon Cards-->
		<div class="box_general padding_bottom">
            <form action="">
                <b>Birth:</b>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                    <label class="form-check-label" for="exampleRadios1">
                    Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                    No
                    </label>
                </div>
                <label for="formGroupExampleInput">Amount</label>
                <div class="form-group">
                    <label for="formGroupExampleInput">kid(male)</label>
                    <input type="number" class="form-control col-6" id="formGroupExampleInput" placeholder="number(s) of dead animals">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">kid(female)</label>
                    <input type="number" class="form-control col-6" id="formGroupExampleInput" placeholder="number(s) of dead animals">
                </div>
                <label for="">Condition of Kid</label>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="flexCheckDefault">
                    <label for="formCheckDefault" class="form-check-label">Weak</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="flexCheckDefault">
                    <label for="formCheckDefault" class="form-check-label">Still birth</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="flexCheckDefault">
                    <label for="formCheckDefault" class="form-check-label">Healthy</label>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comment</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </form>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
{% endblock %}