{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Skaal
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard user</li>
      </ol>
	  <!-- Icon Cards-->
    <!-- <h3 class="text-center">Animals Population for month of 
      {% for a in cowpop %}
      {% if forloop.last %}
        {{ a.month }}
      {% endif %}
      {% endfor %}
    </h3> -->
      <div class="row">
        
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card dashboard text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-inbox"></i>
              </div>
              <div class="mr-5"><h5><span class=" number">
                {% for a in cowpop %}
                {% if forloop.last %}
                  {{ a.addc }}
                {% endif %}
                {% endfor %}
              </span> Cows</h5></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'farmrecord:cencow_view' %}">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card dashboard text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-inbox"></i>
              </div>
				<div class="mr-5"><h5><span class=" number">
          {% for d in pigcen %}
          {% if forloop.last %}
            {{ d.addp }}
          {% endif %}
          {% endfor %}
        </span> Pigs</h5></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'farmrecord:cenpig_view' %}">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card dashboard text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-inbox"></i>
              </div>
              <div class="mr-5"><h5> <span class="number">
                {% for i in sheepcen %}
                {% if forloop.last %}
                  {{ i.adds }}
                {% endif %}
                {% endfor %}
              </span> Sheep</h5></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'farmrecord:censheep_view' %}">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card dashboard text-white bg-danger o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-inbox"></i> </i>
              </div>
              <div class="mr-5"><h5><span class="number">
                {% for k in goatcen %}
                {% if forloop.last %}
                  {{ k.addg }}
                {% endif %}
                {% endfor %}
              </span> Goats</h5></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="{% url 'farmrecord:cengoat_view' %}">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
		</div>
   
    <div class="box_general padding_bottom">
      <h4 class="text-center">Mortality rates for the month </h4>
      <div class="row">
        <div class="col-sm-3 pt-2">
          <div class="card cow">
            <div class="card-body">
              <h5 class="card-title text-white">Bull <span class="float-right">
                {% for a in bldn %}
                {% if forloop.last %}
                  {{ a.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
              <h5 class="card-title text-white">Cow <span class="float-right">
                {% for b in cdn %}
                {% if forloop.last %}
                  {{ b.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
              <h5 class="card-title text-white">Calf/ves <span class="float-right">
                {% for c in cldn %}
                {% if forloop.last %}
                  {{ c.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pt-2">
          <div class="card pig">
            <div class="card-body">
              <h5 class="card-title text-white">Boar <span class="float-right">
                {% for p in brdn %}
                {% if forloop.last %}
                  {{ p.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
              <h5 class="card-title text-white">Sow <span class="float-right">
                {% for v in sdn %}
                {% if forloop.last %}
                  {{ v.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
              <h5 class="card-title text-white">Pigglet(s) <span class="float-right">
                {% for o in pltdn %}
                {% if forloop.last %}
                  {{ o.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pt-2">
          <div class="card sheep">
            <div class="card-body">
              <h5 class="card-title text-white">Ram <span class="float-right">
                {% for j in rdn %}
                {% if forloop.last %}
                  {{ j.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
              <h5 class="card-title text-white">Ewe <span class="float-right">
                {% for k in edn %}
                {% if forloop.last %}
                  {{ k.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
              <h5 class="card-title text-white">Lamb <span class="float-right">
                {% for m in ldn %}
                {% if forloop.last %}
                  {{ m.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pt-2">
          <div class="card goat">
            <div class="card-body">
              <h5 class="card-title text-white">Doe <span class="float-right">
                {% for l in ddn %}
                {% if forloop.last %}
                  {{ l.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
              <h5 class="card-title text-white">Buck <span class="float-right">
                {% for r in bkdn %}
                {% if forloop.last %}
                  {{ r.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
              <h5 class="card-title text-white">Kid(s) <span class="float-right">
                {% for w in kdn %}
                {% if forloop.last %}
                  {{ w.total }}
                {% endif %}
                {% endfor %}
              </span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
		<!-- /cards -->
    <!-- <div class="box_general padding_bottom">
      <div class="row">
        <div class="col-lg-3 col-sm-6 cow">
          <div class="row">
            <div class="col-6 ">hello <h4>6</h4></div>
            <div class="col-6 ">hello</div>
            <div class="col-6 pt-5">hello4 <h4>3</h4></div>
            <div class="col-6 pt-5">hello</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 bg-warning">
          <div class="row">
            <div class="col-6 ">hello <h4>6</h4></div>
            <div class="col-6 ">hello</div>
            <div class="col-6 pt-5">hello4 <h4>3</h4></div>
            <div class="col-6 pt-5">hello</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 bg-danger">
          <div class="row">
            <div class="col-6 ">hello <h4>6</h4></div>
            <div class="col-6 ">hello</div>
            <div class="col-6 pt-5">hello4 <h4>3</h4></div>
            <div class="col-6 pt-5">hello</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 bg-primary">
          <div class="row">
            <div class="col-6 ">hello <h4>6</h4></div>
            <div class="col-6 ">hello</div>
            <div class="col-6 pt-5">hello4 <h4>3</h4></div>
            <div class="col-6 pt-5">hello</div>
          </div>
        </div>
      </div>
    </div> -->
		<h2></h2>
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa fa-bar-chart"></i>Cattle Mortality</h2>
			</div>
      <canvas id="myChart" width="400" height="150"></canvas>
      <script>
          const ctx = document.getElementById('myChart').getContext('2d');
          const myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [{% for count in count %} '{{ count.month|date:"M Y" }}', {% endfor %}],
                  datasets: [{
                      label: 'Mortality Rates',
                      data: [{% for count in count %} {{count.total }}, {% endfor %}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.9)',
                          'rgba(54, 162, 235, 0.9)',
                          'rgba(255, 206, 86, 0.9)',
                          'rgba(75, 192, 192, 0.9)',
                          'rgba(153, 102, 255, 0.9)',
                          'rgba(255, 159, 64, 0.9)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                          

                      }
                  }
              }
          });
      </script>

		</div>
    {% for a in count %}
     {{ a.addcmot }}
    {% endfor %}
	  </div>
	  <!-- /.container-fluid-->
   	</div>
      {% endblock %}