{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Pig-culling
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Large ruminant(Culling)</li>
      </ol>
	  <!-- Icon Cards-->
		<div class="box_general padding_bottom">
            <form action="">
                <div class="form-group">
                    <label for="formGroupExampleInput">Boar(s)</label>
                    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Sow(s)</label>
                    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <label for="">Location(s):</label>
                <div class="form-row">
                  <div class="col-2">
                    <input type="number" class="form-control" placeholder="Line">
                  </div>
                  <div class="col-2">
                    <input type="text" class="form-control" placeholder="Block">
                  </div>
                  <div class="col-2">
                    <input type="number" class="form-control" placeholder="Pen">
                  </div>
                  <div class="col-2">
                    <input type="text" class="form-control" placeholder="L/R">
                  </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Reason for Culling</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <button class="btn btn-success" value="submit">Submit</button>
            </form>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
{% endblock %}