{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Home
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
		<div class="box_general padding_bottom">
			<table>
        <caption>Mortality Records</caption>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Mortality</th>
            <th scope="col">Boar(s)</th>
            <th scope="col">Sow(s)</th>
            <th scope="col">Pigglet(s)</th>
            <th scope="col">Size(s)</th>
            <th scope="col">ACTION(View others)</th>
          </tr>
        </thead>
        <tbody>
          {% if pig_mrec %}
          {% for q in pig_mrec %}
          <tr>
            <td data-label="Date">{{ q.date }}</td>
            <td data-label="Location">{{ q.location }}</td>
            <td data-label="Mortality">{{ q.mortality }}</td>
            <td data-label="Boar(s)">{{ q.boar_num }}</td>
            <td data-label="Sow(s)">{{ q.sow_num }}</td>
            <td data-label="Pigglet(s)">{{ q.pigglet }}</td>
            <td data-label="Size(s)">{{ q.size }}</td>
            <th data-label="Action" class="table"><a href="" >View</a></th>
          {% endfor %}
          {% endif %} 
          </tr>
        </tbody>
      </table>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
<!-- table view Modal Sheep-->
<div class="modal fade" id="exampleModalS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Image(s) of dead animal(s)</h5>
          <img src="img/dead-ram.jpg" alt="">
      </div>
      <div class="modal-footer">
          <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem excepturi accusantium odit necessitatibus in similique sint eveniet laudantium vitae modi quae eius sed veritatis, cupiditate, nisi quia, expedita nemo facere.</p>
      </div>
      <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}