{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Pig Sale
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
		<div class="box_general padding_bottom">
			<table>
        <caption>Sales Record</caption>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Boar(s)</th>
            <th scope="col">Size(s)</th>
            <th scope="col">Sow(s)</th>
            <th scope="col">Size(s)</th>
            <th scope="col">Weight(s)</th>
            <th scope="col">Price(s)</th>
            <th scope="col">ACTION(View others)</th>
          </tr>
        </thead>
        <tbody>
          {% if ps_page_obj %}
          {% for a in ps_page_obj %}
          <tr>
            <td data-label="Date">{{ a.date }}</td>
            <td data-label="Boar(s)">{{ a.boar_num }}</td>
            <td data-label="Size(s)">{{ a.size1 }}</td>
            <td data-label="Sow(s)">{{ a.sow_num }}</td>
            <td data-label="Size(s)">{{ a.size }}</td>
            <td data-label="Weight(s)">{{ a.weight }}</td>
            <td data-label="Price(s)">{{ a.price }}</td>
            <th data-label="Action" class="table"><a href="{% url 'farmrecord:pig_salerec_view' a.id %}" >View</a></th>
          {% endfor %}
          {% endif %} 
          </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        
        {% if ps_page_obj.has_previous %}
          
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ ps_page_obj.previous_page_number }}"> Previous</a></li>
        
        {% endif %}
        
        
         
       {% for i in nums %}
        
        <li class="page-item"><a href="?page={{ forloop.counter }}" class="page-link active">{{ forloop.counter }}</a></li>                    

       {% endfor %}
        
        {% if ps_page_obj.has_next %}
          
        <li class="page-item"><a class="page-link" href="?page={{ ps_page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ ps_page_obj.paginator.num_pages }}">&laquo; Last</a></li>
          
        {% endif %}
        
      </ul>
    </nav>

		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
{% endblock %}