{% extends 'base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Sheep-sales
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Small ruminant(sheep) Sales</li>
      </ol>
	  <!-- Icon Cards-->
		<div class="box_general padding_bottom">
      <form action="">
        <div class="form-group">
            <label for="formGroupExampleInput">Cow(s)</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="col-sm-2">Size(s)</div>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                 Small
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Medium
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Big
                </label>
              </div>
            </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Bulls(s)</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="col-sm-2">Size(s)</div>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                 Small
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Medium
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Big
                </label>
              </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Total Price(s)</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Weights(s)</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Comments</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <button class="btn btn-success" value="submit">Submit</button>
      </form>
		</div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
{% endblock %}