{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'farmrecord:index' %}"><img src="" data-retina="true" alt="Skaal" width="150" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'farmrecord:index' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#mortality" data-parent="#mylistings">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">Piggery</span>
          </a>
          <ul class="sidenav-second-level collapse" id="mortality">
            <li>
              <a href="{% url 'farmrecord:pig_motrep' %}">Mortality</a>
            </li>
			<li>
              <a href="{% url 'farmrecord:pig_cull' %}">Culling</a>
            </li>
			<li>
              <a href="{% url 'farmrecord:pig_birth' %}">Farrowing</a>
            </li>
      <li>
            <a href="{% url 'farmrecord:pig_proc' %}">Procurement</a>

          <li>
              <a href="{% url 'farmrecord:pig_sales' %}">Sales</a>
            </li>
            <li>
              <a  class="nav-link" data-toggle="modal" data-target="#exampleModalP">Records</a>
            </li>
          </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#sheep" data-parent="#mylistings">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">Samll Ruminant(sheep)</span>
          </a>
          <ul class="sidenav-second-level collapse" id="sheep">
            <li>
              <a href="{% url 'farmrecord:sheep_motrep' %}">Mortality</a>
            </li>
			<li>
              <a href="{% url 'farmrecord:sheep_cull' %}">Culling</a>
            </li>
			<li>
              <a href="{% url 'farmrecord:sheep_birth' %}">Lambing</a>
            </li>
      <li>
            <a href="{% url 'farmrecord:sheep_proc' %}">Procurement</a>

          <li>
              <a href="{% url 'farmrecord:sheep_sales' %}">Sales</a>
            </li>
            <li>
              <a  class="nav-link" data-toggle="modal" data-target="#exampleModalS">Records</a>
            </li>
          </ul>
    </li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#goat" data-parent="#mylistings">
    <i class="fa fa-fw fa-list"></i>
    <span class="nav-link-text">Small Ruminant(goat)</span>
  </a>
          <ul class="sidenav-second-level collapse" id="goat">
            <li>
              <a href="{% url 'farmrecord:goat_motrep' %}">Mortality</a>
            </li>
      <li>
              <a href="{% url 'farmrecord:goat_cull' %}">Culling</a>
            </li>
      <li>
              <a href="{% url 'farmrecord:goat_birth' %}">Kidding</a>
            </li>
      <li>
            <a href="{% url 'farmrecord:goat_proc' %}">Procurement</a>

          <li>
              <a href="{% url 'farmrecord:goat_sales' %}">Sales</a>
            </li>
            <li>
              <a  class="nav-link" data-toggle="modal" data-target="#exampleModalG">Records</a>
            </li>
          </ul>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#cow" data-parent="#mylistings">
    <i class="fa fa-fw fa-list"></i>
    <span class="nav-link-text">Large Ruminant</span>
  </a>
      <ul class="sidenav-second-level collapse" id="cow">
        <li>
          <a href="{% url 'farmrecord:cow_motrep' %}">Mortality</a>
        </li>
    <li>
          <a href="{% url 'farmrecord:cow_cull' %}">Culling</a>
        </li>
    <li>
          <a href="{% url 'farmrecord:cow_birth' %}">Calving</a>
        </li>
    <li>
        <a href="{% url 'farmrecord:cow_proc' %}">Procurement</a>

      <li>
          <a href="{% url 'farmrecord:cow_sales' %}">Sales</a>
        </li>
        <li>
          <a  class="nav-link" data-toggle="modal" data-target="#exampleModalC">Records</a>
        </li>
      </ul>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listings">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Procurement" data-parent="#mylistings">
    <i class="fa fa-fw fa-list"></i>
    <span class="nav-link-text">Monthly Census</span>
  </a>
  <ul class="sidenav-second-level collapse" id="Procurement">
    <li>
      <a href="{% url 'farmrecord:cen_pig' %}">Piggery</a>
    </li>
<li>
      <a href="{% url 'farmrecord:cen_cow' %}">Paddock</a>
    </li>
<li>
      <a href="{% url 'farmrecord:cen_goat' %}">Small ruminant(goat)</a>
    </li>
<li>
    <a href="{% url 'farmrecord:cen_sheep' %}">Small ruminant(sheep)</a>
    <li>
      <a class="nav-link" data-toggle="modal" data-target="#exampleModalCen">Records</a>
    </li>
  </ul>

</li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-plus-circle"></i>
            <span class="nav-link-text">Supervisors</span>
          </a>
        </li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Change Password</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My listingsc">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#chart" data-parent="#mylistingsc">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">Charts</span>
          </a>
          <ul class="sidenav-second-level collapse" id="chart"> 
            <li>
              <a href="{% url 'farmrecord:cen_pig' %}">Piggery</a>
            </li>
        <li>
              <a href="{% url 'farmrecord:cen_cow' %}">Paddock</a>
            </li>
        <li>
              <a href="{% url 'farmrecord:cen_goat' %}">Small ruminant(goat)</a>
            </li>
        <li>
            <a href="{% url 'farmrecord:cen_sheep' %}">Small ruminant(sheep)</a>
            <li>
              <a class="nav-link" data-toggle="modal" data-target="">Records</a>
            </li>
          </ul>
        
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span style="line-height: 35px;">Welcome, {{ request.user.get_full_name }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>

   <!-- Report Modal Cow-->
   <div class="modal fade" id="exampleModalC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'farmrecord:cow_motrec' %}">Mortality</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:cow_cullrec' %}">Culling</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:cow_procrec' %}">Procurement</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:cow_salerec' %}">Sales</a><a class="btn btn-info mr-1" href="">Birth</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Report Modal Sheep-->
   <div class="modal fade" id="exampleModalS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'farmrecord:sheep_motrec' %}">Mortality</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:sheep_cullrec' %}">Culling</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:sheep_procrec' %}">Procurement</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:sheep_salerec' %}">Sales</a><a class="btn btn-info mr-1" href="">Birth</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Report Modal Pig-->
   <div class="modal fade" id="exampleModalP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'farmrecord:pig_motrec' %}">Mortality</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:pig_cullrec' %}">Culling</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:pig_procrec' %}">Procurement</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:pig_salerec' %}">Sales</a><a class="btn btn-info mr-1" href="">Birth</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
   <!-- Report Modal Goat-->
   <div class="modal fade" id="exampleModalG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'farmrecord:goat_motrec' %}">Mortality</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:goat_cullrec' %}">Culling</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:goat_procrec' %}">Procurement</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:goat_salerec' %}">Sales</a><a class="btn btn-info mr-1" href="">Birth</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Report Modal Census-->
  <div class="modal fade" id="exampleModalCen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select the record(s) you want do view</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><a class="btn btn-info mr-1" href="{% url 'farmrecord:cenpig_view' %}">Piggery</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:cencow_view' %}">Paddock</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:cengoat_view' %}">Goat</a><a class="btn btn-info mr-1" href="{% url 'farmrecord:censheep_view' %}">Sheep</a></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

