<!-- <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static'img/apple-touch-icon-72x72-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static'img/apple-touch-icon-114x114-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static'img/apple-touch-icon-144x144-precomposed.png' %}"> -->