{% extends 'hr/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
<!Doctype html>
{% block title %}
 Home
{% endblock %}

{% block content %}
  <!-- Navigation-->
  
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Salary Calculator</li>
      </ol>
	  <!-- Icon Cards-->
      <div class="box_general padding_bottom">
        <h3 class="text-center mb-5">Calculate Salary Amount</h3>
        <form action="" method="POST" hx-post="{% url 'humanR:calculator' %}" hx-target="#result">
            {% csrf_token %}
            <div class="row">
              
              <div class="col-lg-4 col-sm-6">
                
                <label for="inputEmail4">Number of days Present</label>
                <input type="number" class="form-control" name="days">
              </div>
              <div class="col-lg-4 col-sm-6">
                <label for="inputEmail4">Salary</label>
                <input type="number" class="form-control" name="salary">
              </div>
              <div class=" col-lg-4 col-sm-6">
                <label for="inputEmail4">Tax</label>
                <input type="number" class="form-control" name="tax">
              </div>
              
              <div class=" col-lg-12 col-sm-12 offset-lg-4 mt-3">
                <h2> <span> &#x20A6</span><span id="result"> {{ res }}</span></h2>
              </div>
            
              <div class=" col-lg-12 col-sm-12 offset-lg-4 mt-5">
                <input type="submit" class="text-center">
              </div>
            </div>
            
          </form>
   	</div>
{% endblock %}