{% extends 'hr/base.html' %}

{% load static %}
<!Doctype html>
{% block title %}
 Employee
{% endblock %}

{% block content %}
  <!-- Navigation-->
  
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
	
	
	  <div class="box_general padding_bottom">
       
          {% for work in wl_page_obj %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              
              <div class="col-md-4">
                <img src="{{ work.post_img }}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ work.employee_SN }} {{ work.employee_FN }} {{ work.employee_MN }}</h5>
                  <p class="card-text">Work Section : {{ work.section_id }}</p>
                  <p class="card-text">Job title: {{ work.title_id }}</p>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="{% url 'humanR:biodata' work.slug %}">View Details</a>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
        

        <div>
              
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              
              {% if wl_page_obj.has_previous %}
                
              <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ wl_page_obj.previous_page_number }}"> Previous</a></li>
              
              {% endif %}
              
              
               
              {% for i in wl_page_obj.paginator.page_range %}
              {% if wl_page_obj.number == i %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                {% elif i > wl_page_obj.number|add:'-5' and i < wl_page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
              
              {% if wl_page_obj.has_next %}
                
              <li class="page-item"><a class="page-link" href="?page={{ wl_page_obj.next_page_number }}">Next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ wl_page_obj.paginator.num_pages }}">&laquo; Last</a></li>
                
              {% endif %}
              
            </ul>
          </nav>
          <!-- /pagination -->
        </div>
	  </div>
	  <!-- /.container-fluid-->
   	</div>
{% endblock %}