{% extends 'hr/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Skaal
{% endblock %}

{% block content %}
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard user</li>
      </ol>
	 <div class="box_general padding_bottom">
         {% if note %}
            <div class="pt-5">
              <h3> <span class="badge badge-secondary">From the office of the Managing Director</span></h3>
              <hr class="mb-5">
                <h3 class="pt5" > {{ note.title }} </h3>
                <hr>
                    <p class=" pt-5">
                        {{ note.message }}
                    </p>
                    <hr>
                    <p><a href="/ping/delete%hr%/{{ note.id }}/" class="btn btn-dark mt-5">Go back</a></p>
                  
            </div>
       {% elif Mesview %}

       <div class="pt-5">
        <h3> <span class="badge badge-secondary">From the office of the Managing Director</span></h3>
          <h3 class="pt5" > {{ Mesview.title }} </h3>
          <hr>
              <p class=" pt-5">
                  {{ Mesview.message }}
              </p>
              <hr>
              <p><a href="{% url 'humanR:review_comHR' %}" class="btn btn-dark mt-5">Go back</a></p>
            
      </div>
        {% endif %}
     </div>
      
   
  
	</div>
	  <!-- /.container-fluid-->
 </div>
      {% endblock %}